<div class="containerColumn">
    <div class="column-3-4">
        <ul>
            <li>
                <h1>{{title}}</h1>
            </li>
            <li>
                <app-currency></app-currency>
            </li>
            <li class="centered-container">
                <div class="centered-element">
                    <app-turtle></app-turtle>
                </div>
            </li>
            <li>
                <div class="container">
                    <app-health></app-health>
                    <app-hunger></app-hunger>
                    <app-happiness></app-happiness>
                </div>
            </li>
        </ul>
        
    </div>
    <div class="column-1-4">
      <app-skins></app-skins>
    </div>
  </div>
